<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="triangle" class="com.bridgelabz.Injection.Triangle">
	<property name="pointA" ref="print1"/>
	<property name="pointB" ref="print2"/>
	<property name="pointC" ref="print3"/>
	</bean>
	
	<bean id="print1" class="com.bridgelabz.Injection.Point">
	<property name="x" value="0"/>
	<property name="y" value="0"/>
	</bean>
	
	<bean id="print2" class="com.bridgelabz.Injection.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>
	</bean>
	
	<bean id="print3" class="com.bridgelabz.Injection.Point">
	<property name="x" value="20"/>
	<property name="y" value="0"/>
	</bean>
	
	</beans>